#map {
        top:55px;
        bottom:0px;
        height: 100vh;
        left: 30vw;
        position: absolute;
        right: 0px;
        display:flex;
      }

#pano {
  width: 200px;
  height: 200px;
}

li {
    font-size: 1.5em;
}

ul {

list-style-type:none;
flex-direction: column;
padding-top:10px;
padding-left:5px;
}

p{
  font-size: 36px;
  font-style: italic;
  color: #e85113;
}

@media only screen and (max-width: 500px) {
    .location {
        display: none;
    }

    p {
      font-size: 22px;
    }

    #map {
        max-width: 100%;
        top:55px;
        bottom:0px;
        height: 100vh;
        position: absolute;
        right: 0px;
        display:flex;
      }
}

